extends ../templates/base

block content
    
  include ../mixins/_blockquote
  
  h2 About page here
    
  +quote({
    text: "some quote",
    attribution : {
      name: "An attribtion",
      link: "http://somelink"
    }
  })
      